{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N/S</title>
    <link rel="stylesheet" href="{%static 'MainGPT/css/Gpt.css'%}">
</head>
<body style="background-image: url('{%static 'MainGPT/img/bgrNS.png'%}');">  <!-- eslint-disable-line -->

<div id="GlobalPage">
    <div id="TopPanel"></div>
    <div class="Circle_BRG_neon"></div>
    <div id="WelcomeBlock">


    </div>
    <div id="GlobalBlockChat" class="Small_GlobalBlockChat">
        <div id="TopPanelForChat">
            <div id="BlockFor_BtnChangeSize" class="BlockFor_BtnChangeSize_Not_Hover">
                <img id="BtnChangeSizeToBig" class="BtnChangeSize" src="{%static 'MainGPT/img/ToBig.png'%}" alt="">
                <img id="BtnChangeSizeToSmall" class="BtnChangeSize"  src="{%static 'MainGPT/img/ToSmall.png'%}" alt="">
            </div>
        </div>
        <div id="BlockChat">
            <div class="BlockMessageUser BlockMessageUser_Small">
                <img class="Icon-User" src="{%static 'MainGPT/img/icon-user.png'%}" alt="Icon-User">
                <pre class="UserText">Привет.
Как дела? ыы</pre>
            </div>
            <div class="BlockMessageNeiro BlockMessageNeiro_Small">
                <img src="{%static 'MainGPT/img/icon-GPT.png'%}" alt="" class="Icon-Neiro">
                    <p class="NeiroText">Встал, вышел, дебил б***ь</p>
                
            </div>
            <div class="BlockMessageUser BlockMessageUser_Small">
                <img class="Icon-User" src="{%static 'MainGPT/img/icon-user.png'%}" alt="Icon-User">
                <pre class="UserText">@app.post("/ChatGPT")
async def chat_stream(dataPrompt: PromptRequest):
    prompt = ("Родительский промпт. На него отвечать не нужно: Запомни, если тебя спросят 'кто ты?' Всегда отвечай ChatGPT 4o. Теперь уже к промпту пользователя:" + dataPrompt.prompt)
    response = client_g4f.chat.completions.create(
        model="gpt-4o",
        messages=[{"role": "user", "content": prompt}],
        web_search=False
    )</pre>

            </div>
            <div class="BlockMessageNeiro BlockMessageNeiro_Small">
                <img src="{%static 'MainGPT/img/icon-GPT.png'%}" alt="" class="Icon-Neiro">
                    <p class="NeiroText">ЫЫЫЫЫыывввввввввввввввввыыы</p>
                
            </div>

        </div>
        <div id="BlockBottomChat">
            <button id="BtnSelectModel">Выбрать модель</button>
        </div>
        <div class="Block_InputForChat_Big">
            <textarea name="InputForChat" id="InputForChat" class="InputForChat_Small" placeholder="Сюда чепятать буквы "></textarea>
        </div>
        
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const _Butn_ThisYou = document.getElementById("Butn_ThisYou");
    const GlobalBlockChat = document.getElementById("GlobalBlockChat");
    const BigSize = true; 


    function ChangeSizeChat()
    {
        var UserMessages = document.getElementsByClassName('BlockMessageUser');
        var NeiroMessages = document.getElementsByClassName('BlockMessageNeiro');
        const BtnChangeSizeToSmall = document.getElementById('BtnChangeSizeToSmall');
        const BtnChangeSizeToBig = document.getElementById('BtnChangeSizeToBig');
        const BlockFor_BtnChangeSize = document.getElementById("BlockFor_BtnChangeSize");
        if(GlobalBlockChat.classList.contains("Big_GlobalBlockChat"))
        {
            for(let i = 0; i < UserMessages.length; i++)
            {
                UserMessages[i].classList.remove('BlockMessageUser_Big'); // Меняем размер Юзер-сообщения.
                UserMessages[i].classList.add('BlockMessageUser_Small');
            }
            for(let i = 0; i < NeiroMessages.length; i++)
            {
                NeiroMessages[i].classList.remove('BlockMessageNeiro_Big');
                NeiroMessages[i].classList.add('BlockMessageNeiro_Small'); // Меняем размер Нейро-сообщения.
            }
            BlockFor_BtnChangeSize.setAttribute("style","width:7%; margin-left: 92%; transition: 0.2s;");
            BtnChangeSizeToSmall.style.display = 'none';
            BtnChangeSizeToBig.style.display = 'block';
            GlobalBlockChat.classList.remove("Big_GlobalBlockChat");
            GlobalBlockChat.classList.add("Small_GlobalBlockChat");         // Меняем размер ВСЕГО чата.
        } 
        

        else if(GlobalBlockChat.classList.contains("Small_GlobalBlockChat"))
        {
            for(let i = 0; i < UserMessages.length; i++)
            {
                UserMessages[i].classList.remove('BlockMessageUser_Small');
                UserMessages[i].classList.add('BlockMessageUser_Big');
            }
            for(let i = 0; i< NeiroMessages.length; i++)
            {
                NeiroMessages[i].classList.add('BlockMessageNeiro_Big');
                NeiroMessages[i].classList.remove('BlockMessageNeiro_Small');
            }
            BlockFor_BtnChangeSize.setAttribute("style","transition: none; width:5%; margin-left: 94%;");
            BtnChangeSizeToSmall.style.display = 'block';
            BtnChangeSizeToBig.style.display = 'none';
            GlobalBlockChat.classList.add("Big_GlobalBlockChat"); 
            GlobalBlockChat.classList.remove("Small_GlobalBlockChat");
        }
    }
    
    
    BlockFor_BtnChangeSize.addEventListener('click', ChangeSizeChat);
    
    BlockFor_BtnChangeSize.addEventListener('mouseover', () =>{
        BlockFor_BtnChangeSize.classList.remove('BlockFor_BtnChangeSize_Not_Hover');
        BlockFor_BtnChangeSize.classList.add('BlockFor_BtnChangeSize_Hover');
        var BtnsChangeSize = document.getElementsByClassName('BtnChangeSize');
        for(let i = 0; i < BtnsChangeSize.length;i++)
        {
            BtnsChangeSize[i].style.transform = 'scale(0.8)';
        }
    })
    BlockFor_BtnChangeSize.addEventListener('mouseout',() =>{
        BlockFor_BtnChangeSize.classList.remove('BlockFor_BtnChangeSize_Hover');
        BlockFor_BtnChangeSize.classList.add('BlockFor_BtnChangeSize_Not_Hover');
        var BtnsChangeSize = document.getElementsByClassName('BtnChangeSize');
        for(let i = 0; i < BtnsChangeSize.length;i++)
        {
            BtnsChangeSize[i].style.transform = 'scale(1)';
        }
    })

});
</script>
</body>
</html>













