{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'MainGPT/css/Main.css'%}">
    

</head>
<body>

    <div id="TopPanel">
        <img src="{%static 'MainGPT/img/LogoST.png'%}" alt="">
        <h1 id="NameProject">ALAT ROOM</h1>
        <a href="account/profile" id="BtnAccount"><img src="{%static 'MainGPT/img/free-icon-user.png'%}" alt=""></a>
    </div>

        {%block BodyContent%}
    
        {% endblock %}
    

</body>
</html>