@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#GlobalChat{
    width: 50vw;
    height: 95vh;
    margin-left: 25vw ;
    background-color: rgb(240, 240, 240);
    /* border-left: 0.15vw solid rgb(205, 205, 205);
    border-right: 0.15vw solid rgb(205, 205, 205); */
    overflow: auto !important;
    scrollbar-width: none;
    position: relative;
}
#GlobalChat::-webkit-scrollbar {
    display: none; /* Скрывает скроллбар */
}
#Answer::-webkit-scrollbar{
    margin-left: -2vw;
}

#BottomPanel {
    width: 45.4%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    bottom: 0;
    padding: 1vw 0; /* добавляем немного отступа сверху и снизу */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}
#BottomPanel p{
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    text-align: center;
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    margin-top: 0.5vw;
}

#inputChat {
    width: 100%;
    max-height: 20vh; /* или около 10 строк */
    min-height: 1vh;
    overflow-y: auto;
    resize: none;

    border: none;
    border-radius: 0.5vw;
    /* margin-left: 5%; */
    padding: 0.5vw;


    background-color: #d9d9d9;
    font-size: 0.85vw;
    color: black;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.4em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#inputChat:focus{
    border: none;
    outline: none;
}
.inputChatErrorModel::placeholder{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    
    font-size: 20px;
}

#Btn_SelectedModels{
    position: absolute;
    color: rgb(79, 79, 79);
    font-size: 1.4vw;
    margin-left: 40%;
}
#Btn_SelectedModels:hover{
    color: rgb(104, 104, 104);
    font-size: 1.45vw;
}
#IconDown{
    width: 1.5vw;
    height: 1.2vw;
}

#Chat{
    margin-top: 10%;
    width: 90%;
    background: none;
    margin-left: 5%;
}


.IconUserForChat{
    /* width: 1.7vw;
    height: 1.7vw; */
    margin-top: 3.5vw;
    background-color: red;
}

pre{
    margin: 10px;
    padding: 0.3vw;
    background-color: rgba(143, 180, 254, 0.242);
    border-radius: 2vh;
    color: rgb(0, 0, 0);
}
/* Весь контейнер */
.MessageContainer{ 
    width: 85%;
   

}
/* Стили для текста во всем контейнере */


/* Стили для фото в контейнере */

/*      Юзер    */
.UserMessage{
    width: 100%;
    display: flex;

}
.User-Icon{
    width: 1.2vw;
    height: 1.2vw;
    margin-top: 0.6vw;
}
.TextUserPrompt{
    background-color: #88bbf59c;
    padding: 0.5vw;
    border-radius: 0.4vw;
    margin-left: 0.4vw;

    font-size: 0.8vw;
    margin-top: 1vh;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*          GPT         */
.GPT-Icon{
    width: 1.2vw;
    height: 1.2vw;
    margin-top: 0.6vw;
}

.GPTMessage{
    width: 100%;
    display: flex;
}

.TextGtpAnswer{
    background-color: rgba(143, 180, 254, 0.242);
    border-radius: 0.3vw;
    margin-left: 0.4vw;
    padding:  0.4vw;
    padding-left: 0.2vw;

    font-size: 0.8vw;
    margin-top: 1vh;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.TextGtpAnswer li{
    margin-left: 0.8vw;
}
.UserMessage img, .GPTMessage img {
    width: 2vw; /* Увеличил размер */
    height: 2vw;
}
#Chat:last-child{
    padding-bottom: 50vw;
}


#hints{
    display: flex;
    height: 46vh;
    width: 100%;
 
}
#BlockForWelcometext{
    width: 100%;
    height: 50%;
    margin-top: 25%;
    text-align: center;
    
}
#WelcomeText{
    font-weight: 550;
}
#BlockForBlocksOnWelcomePanel{
    display: flex;
    width: 100%;
    height: 100%;
}
#BlockForWelcometext h4{
    font-weight: 500;
    color: rgb(120, 120, 120);
}

#BtnChangeModel
{
    position: absolute;
    background-color: rgb(230,230,230);
    margin-top: -1.5vw;
    left: 0;
    border-radius: 6px;
    padding: 0.2vw;
    display: flex;
    transition: background-color 0.2s;

}
#BtnChangeModel:hover
{
    background-color: rgb(220,220,220);
}

#NameModelOnBtn{
    font-size: 16px;
    user-select: none;
    font-weight: 450;
    color: rgb(180, 180, 180);
}
#ImgArrowDown{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3px;
    width: 10px;
    height: 80%;
    user-select: none;
}


.InfoForBotBlocks{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 1vw;
    margin-top: 1vw;
    width: 30%;
    height: 50%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: 2px solid rgb(230, 230, 230);;
    flex-wrap: wrap;
}
#LogoOnHints{
    position: absolute;
    width: 10%;
    height: 10vh;
    margin-top: 10vh;
    margin-left: 40%;

}

.BlockForBlockImageOnWelcomePanel{
    padding-top: 3px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.BlockForImageOnWelcomePanel{
    display: flex;
    width: 50px;
    height: 100%;
    background-color: rgb(235, 235, 235);
    
    border-radius: 50%;
}
.Welcome_ImageOnInfo{
    margin: auto;
    width: 50%;
    height: 70%;
}
#ImagePhotoOnWelcomePanel{
    width: 30px;
    height: 30px;
}
.Welcome_HeaderOnInfo{
    font-size: 16px;
    font-weight: 550;
}
.Welcome_DescriptionPanels{
    font-weight: 520;
    font-size: 12px;
}

#BlockSelectModel{
    display: none;
    position: absolute;
    width: 15vw;
    height: 40vh;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(220, 220, 220);
    margin-top: -48vh;
    left: 0;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(25px);
    opacity: 95%;
    
}


.BtnModels{
    width: 100%;
    height: 7%;
    font-size: 16px;
    margin-top: 5%;
    font-weight: 500;
    transition: background-color 0.2s;
    padding: 4px;
    border-radius: 10px;
    user-select: none;
}
.BtnModels:hover{
    background-color: rgb(225, 225, 225);
}