@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
      font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
@media (min-width: 768px) { /* Здесь начинаются стили для ПК */
body{
  
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#GlobalPage{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#TopPanel{
  position: absolute;
  width: 100vw;
  height: 7.5vh;
  background-color: #0f131d;
  border-bottom: 1px solid  #273252;
  box-shadow: 10px 0px 15px 15px #02030B;
}
#WelcomeBlock{
  position: absolute;
  display: block;
  width: 40vw;
  height: 20vw;
  margin-top: 10vh;
  margin-left: 6vw;
  text-align: center;
  align-items: center;
}

#Butn_ThisYou{
  background-color: rgb(17, 17, 17);
  color: rgb(255, 206, 206);
  box-shadow: 0px 0px 10px 2px #1f2e5f;
  padding: 0.2%;
  padding-bottom: 0.4%;
  margin-top: 1vw;
  width: 30%;
  font-size: 22px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
#Butn_ThisYou:hover{
  scale: 1.1;
}

#GlobalBlockChat{
    position: relative;
    background-color:#121825;
    padding: 1%;
    border-radius: 15px;
    display: flex;

}
.Small_GlobalBlockChat{
  width: 40%;
  height: 60%;
  margin-left: 50%;
  margin-top: 10%;
}
.Big_GlobalBlockChat{
  width: 60%;
  height: 80%;
  margin-left: 20%;
  margin-top: 5%;
}


#TopPanelForChat
{
  position: absolute;
  width: 99.8%;
  height: 10%;
  left: 0;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color:#121825;
  border: 1px solid #1a2235;
}
#BlockFor_BtnChangeSize{
  margin-left: 92%;
  margin-top: 1%;
  width: 7%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}
.BlockFor_BtnChangeSize_Hover{
  transition: 0.5s;
  background-color: #131b2b;
  border: 1px solid #121825;
}
.BlockFor_BtnChangeSize_Not_Hover{
  transition: 0.5s;
  background-color: #121825;
  border: 1px solid #212c44;
}

#BtnChangeSizeToBig{
  display: block;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#BtnChangeSizeToSmall{
  display: none;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}
#BlockForLogo_TopPanelForChat{
  width: 8%;
  height: 98%;
  border-radius: 50%;
  background: #121825;
  border: 1px solid #232e47;
}
#logo_TopPanelForChat{
  width: 60%;
  height: 80%;
  margin-top: 5%;
  margin-left: 24%;
}
#BlockChat{
  margin-top: 7.1%;
  position: absolute;
  width: 95%;
  height: 60%;
  background-color: #121825;
  overflow-y:scroll;
  box-sizing: border-box;
  padding-bottom: 10vh;
}
.BlockMessageUser{
  position: relative;
  
  margin-top: 2%;
  height: fit-content;
  background: #03ffc8;
  border-radius: 10px;
  background: linear-gradient(153deg,rgb(18, 24, 37) 11%, rgb(20, 32, 58) 100%);
  border-left: 1px solid rgb(23, 31, 48);
  border-top: 1px solid rgb(23, 31, 48);

  display: block;
}
.BlockMessageUser_Small{
  width: 70%;
  margin-left: 25%;
}
.BlockMessageUser_Big{
  width: 45%;
  margin-left: 50%;
}
.UserText{
  padding: 2%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  overflow: hidden;
  color: rgb(195, 205, 253);
}
.Icon-User{
  position: absolute;
  width: 36px;
  height: 36px;
  right: -37px;
}

.BlockMessageNeiro{
  position: relative;
  margin-top: 5%;
  height: fit-content;
  background: #03ffc8;
  border-radius: 10px;
  background: linear-gradient(153deg,rgb(20, 32, 58) 11%, rgb(18, 24, 37)  100%);
  border-right: 1px solid rgb(23, 31, 48);
  border-bottom: 1px solid rgb(23, 31, 48);
}
.BlockMessageNeiro_Small{
  width: 70%;
  margin-left: 5%;
}
.BlockMessageNeiro_Big{
  width: 40%;
  margin-left: 5%;
}
.Icon-Neiro{
  position: absolute;
  left: -37px;
  width: 36px;
  height: 36px;
}
.NeiroText{
  padding: 2%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  overflow: hidden;
  color: rgb(195, 205, 253);
}


#BlockBottomChat{
  position: absolute;
  bottom: 11.2vh;
  width: 95%;
  height: 8vh;
  background-color: #121825;
  box-shadow: 0 -10px 15px rgba(18,24,37);
  
}
#BtnSelectModel{
  position: absolute;
  bottom: 0;
  margin-left: 1%;
  background-color: #121825;
  border: 2px solid #1c253a;
  border-radius: 10px;
  padding: 0.5%;
  color: white;
}
.Block_InputForChat_Small{
  position: absolute; /*  Важно: Абсолютное позиционирование */
  bottom: 10px; /* Прижимаем к низу */
  width: 95%;
  height: 13%;
  margin-left: 0.6%;
  border-radius: 15px;
  background-color:#121825;
}
.Block_InputForChat_Big{
  position: absolute;
  bottom: 20px; /* Прижимаем к низу */
  width: 90%;
  height: 7%;
  border-radius: 8px;
  margin-left: 3%;
}
#InputForChat{
  background: none;
  resize:none;
  padding: 1%;
  color: white;
  font-size: 16px;
}
.InputForChat_Small{
  width: 98%;
  height: 77%;
  border-radius: 8px;
}
.InputForChat_Big{

}

#BlockChat::-webkit-scrollbar,
#InputForChat::-webkit-scrollbar {
  width: 1px;
}
#GlobalBlockChat::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2.5px; 
  border-radius: 15px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red); /* Extend colors */
  background-size: 500% 500%; /* Make the background larger than the element */
  animation: gradientAnimation 10s ease infinite; /* Apply the animation */
}
.Circle_BRG_neon{
  position: absolute;
  z-index: 0;
  width: 15%;
  height: 30%;
  border-radius: 50%;
  background-color: blue;
  box-shadow: -10px -10px 200px 40px rgba(43, 185, 138, 0.767);
  margin-left: 55vw;
  margin-top: 19%;
}
}                                    /* Здесь заканчивается стили для ПК */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



@media only screen and (min-width: 350px) and (max-width: 768px) {
img{
  width: 10px;
  height: 10px;
}
#TopPanel{
  display: none;
}
#GlobalBlockChat{
    position: relative;
    background-color:#182746;
    width: 100%;
    height: 95%;
    margin-top: 5px;
    padding: 20px;
}



#GlobalPage{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Circle_BRG_neon{
  display: none;
}

.Block_InputForChat{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: #3c4457;

}
#InputForChat{

}
}


