@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;    
}
body{
    background-color: rgb(240, 240, 240);
}
h1{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#TopPanel{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: rgb(245, 245, 245);
    /* background-color: blue; */
    display: flex;
    /* border-bottom: 0.05vw solid rgb(225, 225, 225); */
    /* box-shadow: 0px 1px 10px 0.1px rgba(150, 150, 150, 0.434); */
    z-index: 3;
}

#Logo_S{
    margin-left: 12%;
}
#TopPanel img{

    width: 2.1vw;
    height: 2.3vw;
    
}
#NameProject{
    font-size: 2.1vw;
    height: 100%;
    width: 35vw;
    font-family: "Comic Neue", serif;
    font-weight: 700;
    font-style: normal;

}
#BtnAccount{
    margin-left: 72vw;
    /* background-color: red; */
}

#burgerBtn{
    margin-left: 2%;
    width: 15%;
    height: 100%;
}