{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'registration/reg.css'%}">
</head>
<body>
    <div class="register-container">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-field">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="form-field">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>

            <div class="form-field">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</body>
</html>