{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'news/css/MainNewsCss.css'%}">
</head>
<body>

    <div id="TopPanel">
        <img id="Logo_S" src="{%static 'MainGPT/img/LogoST.png'%}" alt="">
        <h1 id="NameProject">ALAT ROOM</h1>

        <img id="Btn_BurgerPanel" src="{%static 'MainGPT/img/BurgerPanel2.png'%}" alt="">
        
    </div>
    <div id="PanelSelect">
        <div class="BlockForBtnOnPanelSelect">
            <h1 class="BtnOnPanelSelect">Chat AI</h1>
        </div>
    </div>
        {%block BodyContent%}
        <!-- <img src="{%static 'MainGPT/img/filter.png'%}" alt=""> -->

        
        {% endblock %}
    

</body>
</html>